
<nav class="navbar navbar-expand-md navbar-dark bg-dark ">
	<a class="navbar-brand" href="#">MY WEBSOCKET DEMO</a>
</nav>

<div class="container-fluid" ng-controller="PageController" data-ng-init="init()">
	
	<br>
	 <div>
	 
	    <p>Message: <b>{{message}}</b></p>
	    <form class="form-inline">
	    	<input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="amountv" placeholder="name" ng-model="name">
         	<button ng-click="doSomething()" class="btn btn-primary">DoSomething</button>&nbsp;
		</form>

	</div>

	
</div>

